<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login to your wellness journey!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="css" href="../public/stylesheets/style.css">
</head>

<body>


    <section class="hero is-success is-fullheight" style="background-color: rebeccapurple;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <form class="box">

                        {{!-- Interest --}}
                        <div class="field">
                            <label class="label">Activity</label>
                            <div class="control">
                                <div class="select">
                                    <select id="interest">
                                        <option>Select activity</option>
                                        <option>Running</option>
                                        <option>Yoga</option>
                                        <option>Swimming</option>
                                        <option>Walking</option>
                                        <option>Rowing</option>
                                        <option>Weight Training</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="question" value="Distance">
                                    Track Distance
                                </label>
                                <label class="radio">
                                    <input type="radio" name="question" value="Time">
                                    Track Time
                                </label>
                            </div>
                        </div>

                        <hr>

                        {{!-- Goal --}}
                        <div class="field">
                            <label class="label">Goal</label>
                            <div class="control">
                                <input class="input" id="goal-amount" type="number" min="0" pattern="/d+" placeholder="Input miles or minutes">
                            </div>
                        </div>

                        {{!-- <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Textarea"></textarea>
                            </div>
                        </div> --}}


                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link submit-button" type="submit">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light cancel-button">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script type="text/javascript" src="js/goal.js"></script>

</body>

</html>
