<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand brand-text">
      My Wellness Journey!
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false" href="/index">
          Home
        </a>
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false" href="/member">
          Profile
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-hoverable">
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="columns">
      <h1 class="title is-1">Login Form</h1>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      <br />
      <p>Or sign up <a href="/">here</a></p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>

</body>

</html>