<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand brand-text">
      My Wellness Journey!
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false" href="/index">
          Create a new goal
        </a>
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false" href="/member">
          Profile
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-hoverable">
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <section class="container is-fluid">
    {{!-- <h1 class="title is-1">Welcome <span class="member-name"></span></h1> --}}
    <div>
      
      <div class="box content">
        <article class="post">
          <h4> {{messages}} </h4>
          <div class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <span class="member-name is-size-6"></span> YOU CAN DO IT! &nbsp;
                  {{!-- <span class="tag">Question</span> --}}
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    </div>
    <div class="box content">
      <article class="post">
        <h4> {{messages}} </h4>
        <div class="media">
          <div class="media-content">
            <div class="content">
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <input id = "newMessage" class= "input" type="text" placeholder="Text input">
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button id= "newMessageSubmitButton" class="button is-link">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </article>
    </div>
    </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>