<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand brand-text">
      My Wellness Journey!
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false" href="/index">
          Home
        </a>
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false" href="/member">
          Profile
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-hoverable">
        <a role="button" class="navbar-item" aria-label="menu" aria-expanded="false">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <section class="container is-fluid">
    <h1 class="title is-1">Welcome <span class="member-name"></span></h1>
    <div class="columns">
      <div class="column is-3">
        <a class="button is-primary is-block is-alt is-large" href="#">New Goal</a>
        <aside class="menu">
          <p class="menu-label">
            Tags
          </p>
          <ul class="menu-list">
            <li><span class="tag is-primary is-medium ">Dashboard</span></li>
            <li><span class="tag is-link is-medium ">Customers</span></li>
            <li><span class="tag is-light is-danger is-medium ">Authentication</span></li>
            <li><span class="tag is-dark is-medium ">Payments</span></li>
            <li><span class="tag is-success is-medium ">Transfers</span></li>
            <li><span class="tag is-warning is-medium ">Balance</span></li>
            <li><span class="tag is-medium ">Question</span></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <div class="box content">
          <article class="post">
            <h4>Bulma: How do you center a button in a box?</h4>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png">
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@jsmith</a> replied 34 minutes ago &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>