<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand brand-text">
      My Wellness Journey!
    </div>
    <div id="navMenu" class="navbar-brand">
      <div class="navbar-start">
        <a role="button" class="navbar-item has-text-white" aria-label="menu" aria-expanded="false" href="/index">
          Create a new goal
        </a>
      </div>
    </div>
    <div id="navMenu" class="navbar-end navbar-brand">
        <div class="navbar-item" id="username">Hello, Ryan Whitcomb!</div>
      
        <a role="button" class="navbar-item has-text-white" aria-label="menu" aria-expanded="false" href="/logout">
          Logout
        </a>
    </div>
  </nav>
  <section class="container is-fluid">
    <div>
      <div id="goalBox" class="box content">
        <article class="post">
          <div id="goalText"> place holder for goal </div>
          <div id="container"></div>
          <div class="field">
            <div class="field">
              <h4>How much did you contribute towards your goal today?</h4>
              <div class="control">
                <input id="updateGoal" class="input" type="number" placeholder="input a number!">
              </div>
              <div class="field">
                <div class="control">
                  <button id="updateGoalButton" class="button is-link">Submit</button>
                </div>
              </div>
            </div>
        </article>
      </div>
    </div>
    </div>
    <div class="box content">
      <article class="post">
        <h4> </h4>
        <div class="media">
          <div class="media-content">
            <div class="content">
              <div class="field">
                <h4>How are you feeling today?</h4>
                <div class="control">
                  <input id="newMessage" class="input" type="text" placeholder="text input">
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button id="newMessageSubmitButton" class="button is-link">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    </div>
    </div>
    {{#each messages}}
    <div class="box content">
      <article class="post">
        <h3>{{name}}</h3>
        <h4> {{message}} </h4>
        <div class="media">
          <div class="media-content">
            <div class="content">
            </div>
          </div>
        </div>
      </article>
    </div>
    </div>
    </div>
    {{/each}}
  </section>

  <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>